$font-sans: "ProximaNova", "Interval Sans Pro", Arial, Helvetica, sans-serif;
$rainfall-width: 56px;

.DebbieTracker {
  position: relative;
  margin: 30px 0;
  padding: 20px 0 30px;
}

.DebbieTracker-markers {
  position: absolute;
  top: 0;
  right: $rainfall-width;
  bottom: 0;
  left: 0;
}

.DebbieTracker-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #eee;
}

.DebbieTracker-marker-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #666;
  background-color: #f9f9f9;
  font-family: $font-sans;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  .story.richtext & {
    background-color: #fff;
  }
}

.DebbieTracker-marker-label + .DebbieTracker-marker-label {
  top: auto;
  bottom: 0;
}

.DebbieTracker-places {
  position: relative;
  z-index: 1;
}

.DebbieTracker-name {
  display: inline-block;
  margin: 10px 0 0 !important;
  padding: 2px 0;
  font-size: 20px !important;
  font-weight: bold !important;
  background-color: #f9f9f9;
  color: #333 !important;

  .story.richtext & {
    background-color: #fff;
  }
}

.DebbieTracker-rainfall {
  box-sizing: border-box;
  float: right;
  margin: 20px 0 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 8px 2px 4px;
  width: $rainfall-width;
  color: #666;
  font-size: 11px;
  line-height: 1.1;
  text-align: center;
}

.DebbieTracker-rainfall-value {
  color: #333;
  font-family: $font-sans;
  font-size: 16px;
  font-weight: bold;
  line-height: 0.65;
}

.DebbieTracker-rainfall-units {
  margin-bottom: 4px;
  color: #666;
  font-family: $font-sans;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

.DebbieTracker-gust {
  margin-top: -8px;
  margin-right: $rainfall-width;
  margin-bottom: 8px;
}

.c3-line {
  stroke-width: 2px !important;
}

.c3-area-Gust {
  fill: #bbb !important;
}

.c3-text {
  font-size: 11px;
  font-weight: bold;
}

.c3-xgrid-focus[x1="0"] {
  visibility: hidden !important;
}

.c3-tooltip th {
  border: none !important;
  padding: 2px 5px !important;
  background-color: #aaa !important;
}

.c3-tooltip td {
  border: none !important;
  border-left: 1px dotted #999 !important;
  padding: 3px 6px !important;
  background-color: #fff !important;
}
